/.idea/
.gradle/
*.iml
/build/
**/build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Trashes
# Thumbnails
._*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
